.vscode/**
.llm/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
src/test/
out/test/
*.md
*.jpg
*.png
*.svg
.env
prompts.json
node_modules/
backend-server/node_modules/
**/*.js.map
**/*.d.ts
/templates/